<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Blood Bank Management System</h1>
        <p>Ensuring a safe and easy way to donate and receive blood.</p>
    </header>
    
    <div class="container">
        <div class="buttons">
            <a href="/donor_recipient" class="button">Donor/Recipient</a>
            <a href="/admin" class="button">Admin</a>
        </div>
    </div>
</body>
</html>
